<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project-1-ERS</display-name>
  <context-param>
    <param-name>DefaultName</param-name>
    <param-value>bob</param-value>
  </context-param>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.revature.servlet.ServletDemo</servlet-class>
    <init-param>
      <param-name>DefaultAge</param-name>
      <param-value>18</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.revature.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoSeeInfoServlet</display-name>
    <servlet-name>GoSeeInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.GoSeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoSeeInfoServlet</servlet-name>
    <url-pattern>/infoform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/getuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoSeePendingServlet</display-name>
    <servlet-name>GoSeePendingServlet</servlet-name>
    <servlet-class>com.revature.servlet.GoSeePendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoSeePendingServlet</servlet-name>
    <url-pattern>/pendingbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingRequestByIdServlet</display-name>
    <servlet-name>GetPendingRequestByIdServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetPendingRequestByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingRequestByIdServlet</servlet-name>
    <url-pattern>/getpendingreqbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoSeeResolveRequestServlet</display-name>
    <servlet-name>GoSeeResolveRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.GoSeeResolveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoSeeResolveRequestServlet</servlet-name>
    <url-pattern>/resolvedbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResolvedRequestById</display-name>
    <servlet-name>GetResolvedRequestById</servlet-name>
    <servlet-class>com.revature.servlet.GetResolvedRequestById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResolvedRequestById</servlet-name>
    <url-pattern>/getresolvedreqbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoSeeSubmit</display-name>
    <servlet-name>GoSeeSubmit</servlet-name>
    <servlet-class>com.revature.servlet.GoSeeSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoSeeSubmit</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/submitrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogutServlet</display-name>
    <servlet-name>LogutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogutServlet</servlet-name>
    <url-pattern>/LogutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeEmpInfoServlet</display-name>
    <servlet-name>SeeEmpInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.SeeEmpInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeEmpInfoServlet</servlet-name>
    <url-pattern>/employeeinfo</url-pattern>
  </servlet-mapping>
</web-app>